</main>
<style>
footer {
    text-align: center;
    bottom: 0px;
    padding: 10px 0;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.footer-content {
    margin: auto;
}
.bi-hearts{
    color: rgb(193, 47, 71);
}
.footer-a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
</style>
<footer>
    <div class="footer-content">
        <p>Build with by <i class="bi bi-hearts"></i> <a class="footer-a" href="https://ebhay.netlify.app/">@abhay</a></p>
    </div>
</footer>
</body>
</html>