<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quickly Bills - Invoice Generator</title>
    <link rel="icon" href="./assets/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Glacial+Indifference&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <header>
        <div class="toph yellow">
            Secure Data Backup! All Invoices Made are Safely Stored.
        </div>
        <div class="navbar">
            <img class="logo" src="./assets/quicklybill2.png" alt="logo">
            <nav>
                <ul>
                    <li class="repo"><a href="#Repo">
                            Repo &nbsp;
                            <i class="bi bi-github"></i></a></li>
                    <li class="login-btn"><a href="/login">Login <i class="bi bi-box-arrow-in-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="hero-txt hitems">
                <h1>Effortless Invoicing,<br> Exceptional Results</h1>
                <p>Transform your billing process with our powerful invoice generator. Whether you're a freelancer or a small business, our intuitive platform makes invoicing simple and efficient. Generate, manage, and track invoices seamlessly, and stay organized with detailed reports at your fingertips.</p>
                <a href="/login" class="hero-btn">Get Started</a>
            </div>
            <div class="hero-img hitems">
                <img src="./assets/icon.png" alt="hero-img">
            </div>
        </section>
        <section class="feature">
            <img src="./assets/385_2x_shots_so.png">
            <div class="feature-txt">
                <h2>Streamline Your Invoicing Process</h2>
                <p>Quickly Bills is designed to simplify your invoicing process, saving you time and
                    effort. With our intuitive interface, you can create professional-looking invoices in
                    minutes, and track payments with ease.</p>
                    
            </div>
            <div class="featurebox">
                <div class="item">
                    <i class="bi bi-receipt-cutoff"></i>
                    <div>Generate Invoices</div>
                    <p>Easily create and manage professional invoices with our intuitive tools.</p>
                </div>
                <div class="item">
                    <i class="bi bi-database-gear"></i>
                    <div>Auto Data Backup</div>
                    <p>Automatically backup your data to ensure it's always safe and secure.</p>
                </div>
                <div class="item">
                    <i class="bi bi-graph-up"></i>
                    <div>Analytics Dashboard</div>
                    <p>Get detailed insights and analytics to track your business performance.</p>
                </div>
                <div class="item">
                    <i class="bi bi-shield-lock"></i>
                    <div>Advanced Security</div>
                    <p>Protect your data with our state-of-the-art security features.</p>
                </div>
                <div class="item">
                    <i class="bi bi-cloud-arrow-up"></i>
                    <div>Cloud Storage</div>
                    <p>Store and access your files from anywhere with our reliable cloud storage.</p>
                </div>
            </div>
            
        </section>

    </main>
    <footer>
        <div class="footer-content">
            <p>Build with by <i class="bi bi-hearts"></i> <a class="footer-a" href="https://ebhay.netlify.app/">@abhay</a></p>
        </div>
    </footer>
</body>

</html>